input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF;
}

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
}


.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}

table{
    box-shadow: rgba(0,0,0, 0.6) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.6) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.6) 0px 0px 8px;
    padding:5px 15px 30px;
    margin-bottom: 20px;
    background:#FFFFFF;
    border-radius:5px;
    width:100%;
    font-family:arial;
}

.inside{
    width:50%;
}
.column{
    float: left;
    width: 33%;
}